@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 150px;

    background-color: #232b2b;
    background-image: url('/dark_stripes.png');
}

._social {
  transition: all 2s;
  filter: invert(100%);
  margin-right: 20px;
  position: relative;
  top: -20px;
  opacity: 0.5;
}

._social:hover {
  transition: all 1s;
  opacity: 1;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    width: 1200px;
    height: 150px;

    margin: auto;
    
    /* background-color: aqua; */
}

.footerCol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px;
    
    width: 15.33%;
    height: 150px;

    /* background-color: red; */
}

.footerCol2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: left;
    padding: 30px;
    
    width: 23.33%;
    height: 150px;

    /* background-color: red; */
}

.footerColHeading {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 2px;
    margin-top: 8px;

    letter-spacing: 1px;

    color: grey;

    cursor: default;
}

.footerColSub {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    color: white;

    /* background-color: red; */

    letter-spacing: 0.5px;

    margin-top: 1px;

    cursor: pointer;
}

.footerColSub:hover {
  color: #ff5900;
}

.footerColSub2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    color: white;

    letter-spacing: 0.5px;

    position: relative;
    top: 10px;

    /* cursor: pointer; */
}

.footerColSub2:hover {
  color: #ff5900;
}

.logo {
  transition: all 2s;

  font-family: 'Bowlby One SC', cursive;
  font-size: 35px;
  color: white;
  
  height: 30px;
  
  position: relative;
  top: -14px;

  cursor: pointer;
}

.logo:hover {
  transition: all 1s;
  color: #ff5900;
}

.footerLoc {
  position: relative;
  top: 5px;
}

/* CSS */

.emailField {
    min-height: 2.5rem;
    width: 200px;
    background: transparent;
    background-color: #ffffff90;
  
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 400;
  
    text-align: center;
  
    border: none;
    overflow: auto;
    outline: none;
  
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  
    padding-left: 15px;
  }
  
  .buttonDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: relative;
    left: 150px;
    top: -13px;
  
    /* margin-left: -20px; */
    margin-top: 10px;
  }
  
  .button_5 {
    align-items: center;
    background-clip: padding-box;
    background-color: #ff6200b5;
    border: 1px solid transparent;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    /* line-height: 1.25; */
    margin: 0;
    min-height: 2.65rem;
    /* padding: calc(.875rem - 1px) calc(1.5rem - 1px); */
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 150px;
  }
  
  .button_5:hover,
  .button_5:focus {
    background-color: #ff5900;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .button_5:hover {
    transform: translateY(-1px);
  }
  
  .button_5:active {
    background-color: #a6b393;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }

  .cta{
    position: relative;
    top: -20px;
    right: 18px;
  }

  @media (max-width: 1250px) { 
    .logo {
      transition: all 2s;
    
      font-family: 'Bowlby One SC', cursive;
      font-size: 30px;
      color: white;
      
      height: 30px;
      
      position: relative;
      top: -14px;
    
      cursor: pointer;
    }
  }

  @media (max-width: 1050px) {
    .logo {
      transition: all 2s;
    
      font-family: 'Bowlby One SC', cursive;
      font-size: 30px;
      color: white;
      
      height: 30px;
      
      position: relative;
      top: -14px;
    
      cursor: pointer;
    }
  }